body{


	font-family: 'Montserrat', sans-serif;
}

.navbar{
	background-color: white;
	border:none;
	padding: 1% 5%;
}


li a{
	color:#2b2b2b !important;
	font-size: 16px !important;
		
}
li a:hover{
	color:#f7b617 !important;
		
}

.segundo-section{
	background-image: url(../img/taxi.jpg);
	height: 120vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom;

}


#fondo-disfruta {

	width: 500px;
	height:400px;
	background: #f7b617;
	position: absolute;
	top: 200px;
	left:725px;

}

h2{
	padding: 2% 10%;
	font-size: 28px;
	line-height: 30px;
	color: white;
}

h4{
	padding: 3% 10%;
	font-size: 18px;
	color: white;
}

.logoblanco{
	width: 100px;
	padding-left: 10px;
}

.boton-conductor {
	background-color: white;
    color: black;
    font-size: 15px;
    font-weight: 120;
    width: 50%;
    height: 40px;
    margin-top: 20px;
    border-radius: 5px;
   padding-top:8px;
    display: block;
    text-align: center;
    text-decoration: none;
    	margin-left: 10%;
  }

  .registro,
  .registro2{
  	padding-left: 10%;
  	color: white;
  }

  input{
  	width: 180px;
    margin: 5px;
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    margin-left: 17px;
  }

  .texto{
  	margin-left: 10%;
  }

#descarga{
	background-color: #f7b617;
	padding: 90px;
}

.titulo-descarga{
	font-size: 32px;
	color: white;
}

.titulo-conduce{
	font-size: 32px;
	color: white;
	padding-top: 130px;
}

.texto-descarga{
	font-size: 20px;
	color: white;
	line-height: 33px;
}

.parrafo-descarga{
	padding-left: 20px;
}

#conduce{
	background-image: url(../img/conduce.jpg);
	height: 70vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

}

#fondo-conduce {

	width: 500px;
	height:445px;
	
	background:rgba(0,0,0,0.5);
	position: absolute;
	
	left:725px;

}

.texto-conduce{
	font-size: 19px;
	color: white;
	line-height: 33px;
	padding-left: 50px;
	padding-right : 30px;
}
.boton-conductor2 {
	background-color: #f7b617;
    color: black;
    font-size: 15px;
    font-weight: 120;
    width: 50%;
    height: 40px;
    margin-top: 20px;
    border-radius: 5px;
   padding-top:8px;
    display: block;
    text-align: center;
    text-decoration: none;
    	margin-left: 10%;
  }

  #tarifas{
	background-color: #f7b617;
	padding: 90px;
}

#origen,
#destino{
	width: 230px;
	height: 40px;
    margin: 5px;
    padding: 5px;
    border-radius: 3px;
    background: transparent;
    border: none;
    border: 1px solid white;
    margin-left: 17px;
}

.boton-ruta {
	background-color: white;
    color: black;
    font-size: 15px;
    font-weight: 120;
    width: 50%;
    height: 40px;
    margin-top: 20px;
    border-radius: 5px;
   padding-top:8px;
    display: block;
    text-align: center;
    text-decoration: none;
    	margin-left: 10%;
  }

 ::-webkit-input-placeholder { color: white; }
:-moz-placeholder { color: white; } 
::-moz-placeholder { color: white; } 
:-ms-input-placeholder { color: white; } 

.titulo-tarifas{
	font-size: 32px;
	color: white;
}

.sub-tarifas{
	padding: 1% ;
	font-size: 18px;
	color: white;
}

#map{
	width: 40%;
	height: 50vh;
	border: 2px solid white;
}

footer{
  background-color: #2b2b2b;
  padding: 3% 5%;
}

.icono{
  margin-top: 100%;
  display: inline-block;
  color: white;
  width: 20px;
}

.icono:hover{
  color: #f7b617;
}

.link {
 color: white !important;
 list-style: none;
 text-decoration: none;
 line-height: 30px;
}

.pie{
	font-size: 15px;
	color: white !important;
}


